{% extends 'base.html' %}
{% block content %}
<br/>
<center><h1><strong>{{ title }}</strong></h1></center>
<br/>
<div class="container box" style="width:30%">
    <form method="POST">
        <center>
        {% csrf_token %}
        <div class="container">
            <div class="field">
                <div class="control is-primary">
                    {{ form1.name }}
                </div>
            </div>
         <div class="field">
            <div class="control is-primary">
                {{ form1.email }}
            </div>
        </div>
         <div class="field">
            <div class="control is-primary">
                {{ form1.db_folder }}
            </div>
        </div>
         <div class="field">
            <div class="control is-primary">
                {{ form1.dropped_out }}
            </div>
        </div>

            <div class="field">
                <div class="control is-primary">
                    {{ form2.problem1 }}
                </div>
            </div>
         <div class="field">
            <div class="control is-primary">
                {{ form2.problem2 }}
            </div>
        </div>
         <div class="field">
            <div class="control is-primary">
                {{ form2.problem3 }}
            </div>
        </div>
         <div class="field">
            <div class="control is-primary">
                {{ form2.problem4 }}
            </div>
        </div>
        <input class="button is-primary is-small" type="submit" value="SUBMIT">
        </div>
        </center>
    </form>
</div>
{% endblock content %}



