 {% extends 'base.html' %}
    {% block content %}
 <br/>
 <div class="container is-fluid box">
    {% if 'onlineapp.add_college' in user_permissions %}
    <a class='button is-primary is-small is-outlined' href="{% url 'add_college' %}">Add College</a>
    {% endif %}
     <center><h1><strong>{{ title }}</strong></h1></center>
     <center>
        <table class = "table is-hoverable is-striped is-fullwidth" >
            <thead>
            <tr>
                <th>Code</th>
                <th>College</th>
                {% if 'onlineapp.change_college' in user_permissions or 'onlineapp.delete_college' in user_permissions %}
                <th>Action</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
                {% for college in colleges %}
                <tr>
                    <td>{{ college.acronym }}</td>
                    <td><a href="{% url 'college_details' college.id %}">{{ college.name }}</a></td>
                    <td>{% if 'onlineapp.change_college' in user_permissions  %}
                        <a href="{% url 'edit_college' college.id %}"> edit </a>
                        {% endif %}
                        {% if 'onlineapp.delete_college' in user_permissions  %}
                        <a href="{% url 'delete_college' college.id %}"> delete </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
             </tbody>
        </table>
    </center>
 </div>
    {% endblock content %}